body { background-color: #CCC;
        }
form {   width: 10em;
         height: 100%;
         background-color: rgb(0, 180, 255);
         border-style: solid;

         float: left;
         position: relative;
         line-height: 20px;
         font-size: 16px ;

         }
h1 {

  text-align: center;
  margin-top: 20px;
   }
header {
          background-color: rgb(0, 180, 255);
          border-style: solid;
          overflow: auto;
          padding: 5px;
          margin:auto;
          width: 95%;
          text-align: center;
          }
nav {

  position: relative;
  padding: em;
  float: left;
  width: 150px;
  height: 550px;
  background-color: rgb(0,180, 255);
  border-style: double;
  text-align: center;
  align-items: center;
  display: block;
  overflow: auto;
  margin-left: 25px;
}
nav ul li {
  font-family: helvetica, arial, fantasy;
  line-height: 1em;
  vertical-align: middle;
  width: 90px;
  height: 30px;
  margin-top: 2px;
  background-color: #CCC;
  margin-right: 3px;
  margin-left: 3px;
  text-align: center;
  overflow: auto;


}
main {margin-left: 10em;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20em;
       margin-top: auto;
       text-align: center;
       position: relative;
       }
section {
  width: 250px;
  float: left;
  padding: 10px;
  border-style: solid;
  position: relative;

}

footer {
  text-align: center;
  text-family: helvetica, arial, webdings
  background-color: black;
  height: 100%;
  text-align:center;
  border-style: solid;

  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  display: block;

}
